{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div style="margin-left:20px; margin-top:20px">
{% if validlink %}
    <form method="post" action="">

        {% csrf_token %}
        {% bootstrap_form form %}

        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />

    </form>
{% else %}
    <h1>Password reset failed.</h1>
    <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
</div>
{% endblock %}