{% extends 'base.html' %}

{% block content %}
    <div style="margin-left:20px; margin-top:20px">
    <h1>Barrowed books</h1>

    {% if bookinstance_list %}
        <ul>
            {% for bookinst in bookinstance_list %}
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a>
                    ({{ bookinst.due_back }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There no books borrowed.</p>
    {% endif %}
    </div>
{% endblock %}